/* setting the font, font size line height and the background
    color of the full body of the page*/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-color: tan;
}
/* The textarea is used to receive the users input for the items that need to be done 
    throughout the work day. The textarea will allow for a large number of words to be 
    typed in.*/
textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    border-bottom: 1px solid black; 
    padding: 10px;
    line-height: 120%;
}
/* the header section is where the jumbotron is located and 
    worked to be sure the alignment would be at the top of the page*/
header {
    padding: 0px;
    vertical-align: top;
}
/* section is being used to contain the calendar layout and help with
    the border styling and the alignment to keep it at the top just below
    the header. */
section {
    width: 900px;
    border: black 5px;
    border-style: inset;
    border-radius: 10px;
    vertical-align: top;
    background-color: white;
}

/*.first {
    border-top: 1px solid black;
}*/
/* With the verticle-center, I am trying to align the content
    of the jumbotron in the center of the box and vertically align it from 
    the top of the page so the it looks well layed out*/
.vertical-center {
    background: transparent;
    min-height: 100vh;
    align-content: center;
    vertical-align: top;
  }
/* Trying to improve on the look of the jumbotron making it slightly smaller
    and creating a shadow to make it come out of the page */  
.jumbotron {
    position: relative;
    z-index: 2;
    box-shadow: 0 8px 16px -6px black;
    vertical-align: top;
    font-size: 30px;
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 10px ;
    border: 4px inset gray;
    padding: 0px;
}
/* Id to format the output for the corrent date*/
#currentDate {
    font-weight: bolder;
    font-size: 32px;
}
  
.description{
    white-space: pre-wrap;
}
/* this is to format the hours on the left side of the schedule*/  
.hour-block {
    text-align: center;
    border-bottom: 1px solid black; 
}
/* the size and border to seperate the row from each other*/  
.row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
}
/* Using hour to format the hour column with the font color and the top of the border*/  
.hour {
    color: #000000;
    border-top: 1px dashed #000000;
}
/* the textarea input is being changed depenting on the data-hour and calculation to show
whether it is current-red past-gray or future-green */
textarea.past {
    background-color: #7c7c7c;
    color: white;
}
  
textarea.present {
    background-color: red;
}
  
textarea.future {
    background-color: #77dd77;
}
/* the saveButton and the saveButton hover are being used to make the button responsive and
add the visual affect for the calendar item to be saved on local storage*/  
.saveButton {
    border: 1px solid black;
    font-size: 24px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
}
  
.saveButton:hover {
    font-size: 32px;
    background-color: rgb(16, 199, 240);
    transition: all .3s ease-in-out;
}
footer {
    text-align: center;
}
  